.DarkPanel_Directions {
  background-color: rgba(0, 0, 0, 0.7);
}

.DarkPanel_Directions .title {
  font-size: 18px;
  color: #ffffff;
  font-family: Arial;
  letter-spacing: -1.1px;
  font-weight: 900;
}

.DarkPanel_Directions .Admin_Name {
  font-size: 14px;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
}

.DarkPanel_Directions .btn-outline-default {
  color: #ffffff;
  font-size: 14px;
}

.white {
  color: #ffffff;
  font-weight: 100;
  font-family: Arial;
  font-size: 14px;
}
.white :hover {
  color: #ffffff;
  font-size: 14.3px;
}
