.orgchart.myChart {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0) 10%) !important;
}

.orgchart.myChart > ul > li > ul li::before {
  border-top-color: rgb(31, 31, 31);
}

.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: rgb(31, 31, 31);
}

.orgchart.myChart .oc-node .red {
  box-sizing: border-box;
  background-color: #ff0000;
  color: #fff;
  width: 170px;
  height: 6px;
  padding: 2px;
}

.orgchart.myChart .oc-node .green {
  box-sizing: border-box;
  background-color: #00ff00;
  color: #fff;
  width: 170px;
  height: 6px;
  padding: 2px;
}

.orgchart.myChart .oc-node .white {
  box-sizing: border-box;
  font-family: Tahoma;
  font-size: 13.3px;
  color: rgb(31, 31, 31);
  background-color: #fff;
  text-align: center;
  width: 170px;
  height: 70px;
  padding: 2px;
  border: 1px solid rgb(31, 31, 31);
}

.txt_search {
  height: 10px;
  margin-top: 0px;
}

.modal-open {
  max-height: 600px;
}
.id_card {
  width: 8em;
}

.printme {
  display: none;
}
@media print {
  .no-printme {
    display: none;
  }
  .printme {
    display: block;
  }

  #code {
    color: #000000;
    font-size: "25px";
    margin: "0px";
    padding: 2px;
    font-weight: 300;
  }
}
