.Login-slide .title {
  font-size: 62px;
  color: rgb(255, 255, 255);
  font-weight: 600 !important;
  font-family: Tahoma;
  letter-spacing: 5px !important;
  text-align: center !important;
}
.Login-slide .Sub_Title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold !important;
  font-family: Arial;
}

.Login-slide .Sub_Title_Head {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold !important;
  font-family: Arial;
  letter-spacing: 62px;
  text-align: center !important;
}

.Login-slide {
  padding: 18%;
  background-color: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.5) 50%,
    #000 100%
  );
  background: url("../../../../assets/photo-1585264550248-1778be3b6368.jpg")
    no-repeat;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
  background-size: contain;
  background-size: 100%;
  background-position: center;
  position: relative;
}

.Form_Side {
  padding: 0px 20px;
  margin-bottom: 1%;
}
